<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Личный профиль</title>
</head>
<body>

<div>Username: {{ user.username }}</div>
<div>Email: {{ user.email }}</div>
<div>First name: {{ user.first_name }}</div>
<div> Last name: {{ user.last_name }}</div>

<form action="/profile/" method="post">
    {% csrf_token %}
    {{ profile_form }}
    <button type="submit">Изменить</button>
</form>
    
<hr>

<a href="/posts/">Страница с постами</a>
<a href="/logout/">Выйти из профиля</a>

</body>
</html>